@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/HKGrotesk-Regular.otf") format("opentype");
}

@font-face {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/HKGrotesk-Bold.otf") format("opentype");
}

@responsive {
  .text-shadow {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
